{% extends 'list.html' %}

{% block title %}Zadania{% endblock %}

{% block section_header %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-secondary">
    <h1 class="h2">Lista zadań</h1>
    <a href="{% url 'new_task' %}" class="btn btn-success btn-sm">Nowe zadanie</a>
</div>
{% endblock %}

{% block content %}
<div class="table-responsive">
    <div style="overflow-x: auto;">
        <table class="table table-dark table-borderless">
        <thead>
            <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Priorytet</th>
            <th scope="col">Data ukończenia</th>
            </tr>
        </thead>
        <tbody>
            {% for task in page_obj %}
                <tr>
                    <td><a href="{% url 'task_details' pk=task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.get_priority_display }}</td>
                    <td>{{ task.completion_date|default:"-" }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}