{% extends 'base.html' %}

{% block title %}Szczegóły {{ book.title }}{% endblock %}

{% block section_header %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-secondary">
    <h1 class="h2">Szczegóły książki</h1>
</div>
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ book.title }}</h3>
            <br>
            <p class="card-text">Autor: {{ book.author }}</p>
            <p class="card-text">Rok publikacji: {{ book.published_year}}</p>
            <p class="card-text">Data przeczytania: {{ book.date_finished }}</p>
            <p class="card-text">Ocena: {{ book.rating }}</p>
            <p class="card-text">Liczba stron: {{ book.number_of_pages }}</p>
            <hr>
            <div class="d-flex justify-content-between mt-4">
                
                <!-- Przycisk po LEWEJ stronie -->
                <a href="{% url 'books_list' %}" class="btn btn-secondary">
                    &laquo; Wróć do listy
                </a>

                <!-- Przyciski po PRAWEJ stronie (zgrupowane w dodatkowym divie) -->
                <div>
                    <!-- Przycisk Edycji (Żółty/Ostrzegawczy) -->
                    <a href="{% url 'edit_book' pk=book.id %}" class="btn btn-warning">
                        Edytuj
                    </a>
                    
                    <!-- Przycisk Usuwania (Czerwony, z marginesem z lewej strony: ms-2) -->
                    <!-- Zakładam, że nazwa URL do usuwania to 'delete_need' -->
                    <a href="{% url 'delete_book' pk=book.id %}" class="btn btn-danger ms-2">
                        Usuń
                    </a>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}