{% extends 'list.html' %}

{% block title %}Potrzeby{% endblock %}

{% block section_header %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-secondary">
    <h1 class="h2">Lista potrzeb</h1>
    <a href="{% url 'expenses:new_need' %}" class="btn btn-success btn-sm">Nowa potrzeba</a>
</div>
{% endblock %}

{% block content %}
<div class="table-responsive">
    <div style="overflow-x: auto;">
        <table class="table table-dark table-borderless">
        <thead>
            <tr>
            <th scope="col">Przedmiot</th>
            <th scope="col">Kategoria</th>
            <th scope="col">Szacowana cena</th>
            </tr>
        </thead>
        <tbody>
            {% for need in page_obj %}
                <tr>
                    <td><a href="{% url 'expenses:need_details' pk=need.id %}">{{ need.item }}</a></td>
                    <td>{{ need.category_id }}</td>
                    <td>{{ need.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}